.CAJAT1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.6;
  background-color: #005f87;
  text-align: center;
}

.CajaCamp {
  width: 200px;
  height: 100px;
  background-color: aquamarine;
  text-align: center;
  display: flex;
}
