.capos {
  @include flex-center();
  width: 600px;
  margin: 40px auto;

  img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    @include transition-default(all, 2s, ease);

    &:hover {
      cursor: crosshair;
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
    }
  }
}
